
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>&copy; 2020</p>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#tabel').DataTable();
} );
</script>
</body>
</html>
