<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{data['title']}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>{{data['title']}}</h1>
</div>

<div class="container-fluid" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-2">

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/idiom">Daftar Idiom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/daftar_tweet">Daftar Tweet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jargon">Daftar Jargon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tweet">Tweet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/preprocess">Pre-Processing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/testing">Data Testing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/training">Data Training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/validation">Validation</a>
        </li>
      </ul>

      <hr class="d-sm-none">
    </div>