{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Idiom</h2>
       <form class="form-inline" action="/insert_idiom" method="post">
          <input type="text" class="form-control" placeholder="Masukan kata IDIOM" id="idiom" name="idiom" required>
         <input type="text" class="form-control" placeholder="Makna dari IDIOM" id="makna" name="makna">
          <button type="submit" class="btn btn-primary">Tambah</button>
          <a href="/reset_idiom" class="btn btn-danger">Hapus Semua</a>
          <!--<a href="/import_idiom" class="btn btn-warning">Import</a>-->
        </form>
      <table class="table table-bordered" id="tabel">
        <thead>
          <tr>
            <th>Idiom</th>
            <th>Makna</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row.idiom}}</td>
            <td>{{row.makna}}</td>
            <td><a href="/delete_idiom?id={{row._id}}">Hapus</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% include 'footer.html' %}