<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{data['title']}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>{{data['title']}}</h1>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-2">

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tweet">Tweet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/idiom">Idiom</a>
        </li>
      </ul>

      <hr class="d-sm-none">
    </div>
    <div class="col-sm-10">
      <h2>Idiom</h2>
       <form action="/upload" enctype="multipart/form-data" method="post" class="form-inline">
          <input class="form-control" type="file" name="file">
          <button type="submit" class="btn btn-primary">UPLOAD</button>
          <a href="/" class="btn btn-danger">Batal</a>
          <a href="/save_import_idiom" class="btn btn-warning">Import</a>
        </form>


      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Idiom</th>
            <th>Makna</th>
            <th>Kategori</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
</html>
