{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Daftar Jargon</h2>
      <form class="form-inline" action="/insert_jargon" method="post">
          <input type="text" class="form-control" placeholder="Jargon" id="jargon" name="jargon" required>
          <input type="text" class="form-control" placeholder="Actual Word" id="actual_word" name="actual_word" required>
          <button type="submit" class="btn btn-primary">Tambah</button>
          <a href="/reset_jargon" class="btn btn-danger">Reset</a>
        </form>
      <table class="table table-bordered" id="tabel">
        <thead>
          <tr>
            <th>Jargon</th>
            <th>Actual Word</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row.jargon}}</td>
            <td>{{row.actual_word}}</td>
            <td><a href="/delete_jargon?id={{row._id}}">Hapus</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% include 'footer.html' %}