{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Pre-Processing</h2>
       <form action="/start_divide" class="form-inline">
         <!--<input type="text" class="form-control" style="width:45px" name="persen" value="70">%&nbsp;
         <button type="submit" value="" class="btn btn-info">Create Data Training</button>&nbsp;-->
         <a href="/testing" class="btn btn-info">Lihat Data Training</a>&nbsp;
         <a href="/reset_preprocess" class="btn btn-danger">Reset</a>
       </form>
      <table class="table table-bordered" id="tabel">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>Case Folding</th>
            <th>Normalisasi Kalimat</th>
            <th>Token</th>
            <th>Hasil</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row.tweet}}</td>
            <td>{{row.case_folding}}</td>
            <td>{{row.normalisasi_kalimat}}</td>
            <td>{{row.token}}</td>
            <td>{{row.result}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% include 'footer.html' %}