{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Data Testing</h2>

      <form action="/start_divide" class="form-inline">
        <input type="text" class="form-control" style="width:45px" name="persen" value="70">%&nbsp;
        <button type="submit" value="" class="btn btn-info">Create Data Training</button>&nbsp;
        <a href="/start_classify" class="btn btn-info">Start Klasifikasi</a>&nbsp;
        <a href="/start_validation" class="btn btn-info">Start Validation</a>&nbsp;
        <a href="/reset_testing" class="btn btn-danger">Reset</a>
      </form>

      <br>

      <form class="form-inline" action="/insert_testing" method="post">
        <input type="text" class="form-control" placeholder="Tweet" id="tweet" name="tweet" required>
        <button type="submit" class="btn btn-primary">Tambah</button>
      </form>

      <br>


      <table class="table table-bordered" id="">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>After Processing</th>
            <th>Label Manual</th>
            <th>Label Otomatis</th>
            <th>OVA</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr id="{{row._id}}">
            <td>{{row.tweet}}</td>
            <td>{{row.after_processing}}</td>
            <td>{{row.label_manual}}</td>
            <td>{{row.label_otomatis}}</td>
            <td>{{row.ova}}</td>
            <td>
                <button type="button" class="btn btn-primary setLabel" data-toggle="modal" data-target="#myModal" data-id="{{row._id}}" data-label="{{row.label_manual}}">
                  Set Label
                </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <form method="post" action="/save_testing_label">
          <input type="hidden" id="val_id" name="id" value="">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Set Label</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Label Manual: </label><br>
              <select id="val_label" name="label_manual" class="form-control">
                <option value="senang">Senang</option>
                <option value="kaget">Kaget</option>
                <option value="netral">Netral</option>
                <option value="marah">Marah</option>
                <option value="sedih">Sedih</option>
                <option value="takut">Takut</option>
                <option value="jijik">Jijik</option>
              </select>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> <button type="submit" class="btn btn-primary" name="submit">SIMPAN</button>
          </div>
        </form>

      </div>
    </div>
  </div>

    </div>

<script>
$('.setLabel').on('click', function(e) {
    let id = this.attributes['data-id'].nodeValue;
    let label = this.attributes['data-label'].nodeValue;
    $('#val_id').val(id);
});

/*$('#myModal').on('show.bs.modal', function(e) {
  let label = e.relatedTarget.id;
});*/
</script>
{% include 'footer.html' %}