{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Data Training</h2>
      <a href="/reset_training" class="btn btn-danger">Reset</a>
      <table class="table table-bordered" id="">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>Label Manual</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr id="{{row._id}}">
            <td>{{row.tweet}}</td>
            <td>{{row.label_manual}}</td>
            <td>
              <button type="button" class="btn btn-primary setLabel" data-toggle="modal" data-target="#myModal" data-id="{{row._id}}" data-label="{{row.label_manual}}">
                  Ubah Label
              </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <form method="post" action="/save_training_label">
          <input type="hidden" id="val_id" name="id" value="">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Set Label</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Label Manual: </label><br>
              <select id="val_label" name="label_manual" class="form-control">
                <option value="netral">Netral</option>
                <option value="senang">Senang</option>
                <option value="sedih">Sedih</option>
                <option value="kaget">Kaget</option>
                <option value="jijik">Jijik</option>
                <option value="marah">Marah</option>
              </select>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> <button type="submit" class="btn btn-primary" name="submit">SIMPAN</button>
          </div>
        </form>

      </div>
    </div>
  </div>

    </div>

<script>
$('.setLabel').on('click', function(e) {
    let id = this.attributes['data-id'].nodeValue;
    let label = this.attributes['data-label'].nodeValue;
    $('#val_id').val(id);
});

/*$('#myModal').on('show.bs.modal', function(e) {
  let label = e.relatedTarget.id;
});*/
</script>

{% include 'footer.html' %}