{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Tweet</h2>
       <!--<form class="form-inline" action="/get_tweet">
          <input type="text" class="form-control" placeholder="Masukkan kata kunci" id="q" name="q">
          <input type="text" class="form-control" placeholder="Batas jumlah hasil" title="Batas jumlah hasil" id="max" name="max" value="10">
          <button type="submit" class="btn btn-primary">Cari</button>
          <a href="/reset_tweet" class="btn btn-danger">Hapus Semua</a>
        </form>-->
      <a href="/start_preprocess" class="btn btn-info">Start Preprocessing</a>
      <a href="/reset_tweet" class="btn btn-danger">Reset</a>
      <table class="table table-bordered" id="tabel">
        <thead>
          <tr>
            <th>Username</th>
            <th>Tweet</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row.username}}</td>
            <td>{{row.tweet}}</td>
            <td> <a href="/delete_tweet?id={{row._id}}">Hapus</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% include 'footer.html' %}