{% include 'header.html' %}
    <div class="col-sm-10">
      <h2>Validasi</h2>
      <a href="/reset_validation" class="btn btn-danger">Reset</a>
      <table class="table table-bordered table-responsive" id="tabel">
        <thead>
          <tr>
            <th>Date</th>
            <th>Jumlah Data Testing</th>
            <th>Jumlah Data Training</th>
            <th>Persentasi (Testing/Training)</th>
            <th>True Positive</th>
            <th>False Positive</th>
            <th>True Negative</th>
            <th>False Negative</th>
            <th>Accurarry</th>
            <th>Precission</th>
            <th>Recall</th>
            <th>F-Measure</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
        {% for row in data['output'] %}
          <tr>
            <td>{{row.date}}</td>
            <td>{{row.testing}}</td>
            <td>{{row.training}}</td>
            <td>{{row.persentasi * 100}}% / {{ (100-(100*row.persentasi)) }}%</td>
            <td>{{row.true_positive}}</td>
            <td>{{row.false_positive}}</td>
            <td>{{row.true_negative}}</td>
            <td>{{row.false_negative}}</td>
            <td>{{'%0.2f'| format((row.accuracy*100)|float)}}%</td>
            <td>{{'%0.2f'| format((row.precision*100)|float)}}%</td>
            <td>{{'%0.2f'| format((row.recall*100)|float)}}%</td>
            <td>{{'%0.2f'| format((row.f_measure*100)|float)}}%</td>
            <td><a href="/delete_validation?id={{row._id}}">Hapus</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% include 'footer.html' %}